.chat-box {
  background: #f1f4f7;
  width: 400px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

}

