#v-app {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: #FCFCFE;
}

.board {
  padding: 20px 30px;
  width: 100%;
}

.rank-box {
  margin: 0 auto;
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.rank-box ul {
  display: flex;
  justify-content: flex-start;
}

.ranker-title {
  color: rgb(121, 122, 135, 0.7);
  font-size: 1rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rank-user-list {
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

.rank-user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.crown-box {
  min-height: 20px;
}

.rank-user-name {
  color: #48494b;
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rank-user-thumbnail {
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.canvas-box {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - (60px + 164px));
  background: white;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.problem-box {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  width: 200px;
  font-size: 1rem;
  border: 5px solid #fa3f40;
  border-radius: 20px;
  background: white;
}

.problem-box .text {
  background: #fa3f40;
  flex: 4;
  text-align: center;
  color: white;
  font-weight: 600;
  padding-top: 5px;
}

.problem-box .problem {
  flex: 9;
  background: white;
  color: #fa3f40;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1rem;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

#canvas {
  width: 100%;
  height: 100%;
}

.palette-box {
  position: absolute;
  top: 20px;
  right: 30px;
}

.palette-box li {
  display: inline-block;
}

.palette-box li .color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: transparent;
}

.palette-box li .color.hover {
  transition: box-shadow .2s;
  cursor: pointer;
  box-shadow: 5px 5px 8px rgba(33,33,33,.2); 
}


.palette-box li + li {
  margin-left: 20px;
}

@media (max-width: 1400px) {
  .palette-box li .color {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1300px) {
  .palette-box li .color {
    width: 20px;
    height: 20px;
  }

  .palette-box li + li {
    margin-left: 15px;
  }
}

@media (max-width: 1200px) {
  .palette-box {
    position: absolute;
    top: 25px;
    right: 30px;
  }

  .palette-box li .color {
    width: 20px;
    height: 20px;
  }

  .palette-box li + li {
    margin-left: 10px;
  }
}


@media (max-width: 1024px) {
  .palette-box li {
    display: block;
  }

  .palette-box {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .palette-box li .color {
    width: 20px;
    height: 20px;
  }

  .palette-box li + li {
    margin-left: 0px;
    margin-top: 10px;
  }
}