<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NestJs socket canvas api</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="v-app">
      <canvas id="canvas"></canvas>
      <form>
        <input v-model="text" type="text" />
        <button type="submit" @click.prevent="sendMessage()">Send</button>
      </form>
      <p>
        <ul>
          <li v-for="msg of messages">{{ msg }}</li>
        </ul>
      </p>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="http://localhost:8000/websockets/socket.io.js"></script>
      <script src="./index.js"></script>
  </body>
</html>