* {
  box-sizing: border-box;
  margin: 0
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  background: #FEFEFE;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
}

#v-app {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: #FCFCFE;
}

.board {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  background: gold;
  
}

.rank-box {
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;
}

.rank-box ul {
  display: flex;
  justify-content: flex-start;
}

.ranker-title {
  color: rgb(121, 122, 135, 0.7);
  font-size: 1rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rank-user-list {
  background: rgb(247, 226, 108);
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

.rank-user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.rank-user-name {
  color: #000000;
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rank-user-name.ranker {
  background: red;
  color: white;
}

.rank-user-thumbnail {
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#canvas {
  width: 100%;
}